* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

section {
  width: 90%;
  height: 100vh;
  margin: auto;
}

button {
  outline: none;
  text-decoration: none;
  border-radius: 1rem;
  padding: 15px 20px;
  background-color: #1DB954;
  color: white;
  margin: auto auto;
}

input {
  outline: none;
  padding: 15px 20px;
  width: 90%;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
}