* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: auto;
  padding: 8px;
}

section {
  width: 100%;
  height: 100vh;
  margin: auto;
}

button {
  outline: none;
  text-decoration: none;
  border-radius: 1rem;
  padding: 15px 20px;
  background-color: #1DB954;
  color: white;
}

input {
  outline: none;
  padding: 15px 20px;
  width: 90%;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 8px;
  margin: 10px 0px 0px 0px;
}

h1 {
  margin: 0px auto 4px auto;
}

p {
  max-width: 50ch;
  line-height: 1.3rem;
}

strong {
  max-width: 50ch;
}

/* For ArtistSearchResult, TrackSearchResult, etc.. */
.search-result {
  margin: 4px;
  cursor: pointer;
}

.search-result-icon {
  width: 64px;
  height: 64px;
}

.search-result-wrapper {
  margin: 4px;
}

.search-result-title {
  color: #191414;
}

.search-result-secondary {
  color: #999999;
}
