#SearchResults {
    height: 80vh;
    width: 100%;
    overflow-y: auto;
    margin: auto;
}

#Recommendation-container {
    width: 100%;
    margin: 10px auto;
    align-items: center;
}

#Recommendations {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    margin: 10px auto;
}

.searchResultList {
    height: 100%;
    width: 50%;
    overflow-y: auto;
    margin: 10px auto;
    background-color: white;
    align-items: center;
}

#Playlists {
    height: 90%;
    overflow-y: auto;
    margin: 10px 0px;
}

#SongLyrics {
    white-space: pre;
    width: 100%;
    margin: 10px auto;
}

@media screen and (max-width: 960px) {
    #Dashboard {
        flex-direction: column;
    }

    #SearchResults {
        flex-direction: column;
        height: 100%;
    }

    .searchResultList {
        width: 100%;
    }

    .topResultList {
        order: -1;
        height: 100%;
        width: 100%;
    }

    .topList {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
}