#SearchResults {
    height: 80vh;
    width: 100%;
    overflow-y: auto;
}

.searchResultList {
    height: 100%;
    width: 50%;
    overflow-y: auto;
    margin: 10px 0px;
    background-color: white;
}

.topResultList {
    height: 100vh;
    width: fit-content;
    overflow-y: auto;
    background-color: white;
    align-items: flex-end;
}

.topList {
    height: 100%;
    width: fit-content;
    margin: 10px auto;
}

#Playlists {
    height: 90%;
    overflow-y: auto;
    margin: 10px 0px;
}

#SongLyrics {
    white-space: pre;
    width: 100%;
}

@media screen and (max-width: 960px) {
    #Dashboard {
        flex-direction: column;
    }

    #SearchResults {
        flex-direction: column;
        height: 100%;
    }

    .searchResultList {
        width: 100%;
    }
}