#SearchResults {
    height: 80vh;
    width: 100%;
}

.searchResultList {
    height: 100%;
    width: 50%;
    overflow-y: auto;
    margin: 10px 0px;
}

#Playlists {
    height: 90%;
    overflow-y: auto;
    margin: 10px 0px;
}

#SongLyrics {
    white-space: pre;
}