.playlist {
    margin: 4px;
    cursor: pointer;
}

.playlist-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.playlist-wrapper {
    margin: 4px;
}

.playlist-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width: 150px;
}