#Login-Button {
    outline: none;
    text-decoration: none;
    border-radius: 1rem;
    padding: 15px 20px;
    background-color: #1DB954;
    color: white;
    margin: 0px auto;
}

#Notice {
    margin: 20px auto 20px auto;
}