nav {
    width: 240px;
    height: 100vh;
    padding: 8px;
    background-color: #191414;
    color: white;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
        width: 100%;
        height: 240px;
    }
}