#Navbar {
    width: 240px;
    height: 100vh;
    padding: 8px;
    background-color: #191414;
    color: white;
}

@media screen and (max-width: 768px) {
    #Navbar {
        flex-direction: column;
        width: 100%;
        height: 100%;
        order: -2;
    }
}